:root{
    --v-shadow: 1px 1px 3px #080808AA;
}

body {
	background-color: white;
	color: #222222;
	font-family: monospace;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
}

header {
	margin: 0;
	padding: 1em 0;
	display: inline-block;
	width: 100vw;
background: rgb(25,30,37); 
background: linear-gradient(to bottom, rgba(25,30,37,1) 0%,rgba(17,22,29,1) 100%);
	color: whitesmoke;
	font-weight: normal;
	margin-bottom: 3em;
}

h1 {
	margin: 0.5em;
}

h3:before,
.descr:before {
	display: inline-block;
	text-align: left;
	font-size: 11px;
	width: 5em;
	margin: 0 0;
	font-weight: normal;
	color: dimgray;
	margin-left: 1em;
}

h3:before {
	content: '[title]';
}

.descr:before {
	content: '[info]';
}

object {
	display: block;
	margin: 0 auto;
	width: 80vw;
    height: 85vh;
}

object[type='application/epub+zip'],
object[type='application/pdf'],
object[type='text/html'],
object[type='application/xhtml+xml'],
object[type='application/vnd.openxmlformats-officedocument.wordprocessingml.document'],
object[type='text/plain'] {
	display: block;
	margin: 0 auto;
	width: 80vw;
	height: 85vh;
}

object[type='image/jpeg'],
object[type='image/png'],
object[type='image/tiff'] {
	display: block;
	margin: 0 auto;
	width: auto !important;
	max-width: 80vw;
	height: auto !important;
}


#showroom {
	background-color: whitesmoke;
	display: block;
	border: 1px solid #08080866;
	max-width: 80vw;
	position: absolute;
	top: 5vh;
	left: 50vw;
	margin-left: -40vw;
	margin-bottom: 2em;
	box-shadow: var(--v-shadow);
}

.close {
	position: absolute;
	font-family: monospace;
	font-size: 0.8em;
	font-weight: bold;
	top: 1em;
	right: 1em;
	border: none;
	background-color: #000000CC;
	color: whitesmoke;
	padding: 0.75em;
	cursor: pointer;
	opacity: 0.3;
	box-shadow: ;
	border-radius: 0.25em;
}

.close:hover {
	opacity: 1;
}

a {
	color: whitesmoke;
	text-decoration: none;
	text-decoration: underline;
}

table {
	color: #222222;
	background-color: white;
	border-spacing: 0;
	width: 80vw;
    margin: 0 auto;
}

tr:nth-child(even) {
	background-color: #00000008;
}

tr:nth-child(odd) {
	background-color: #00000000;
}

td {
	padding: 0.5em 0.75em;
	border: 1px solid transparent;
	cursor: help;
}

tr:not(:first-child):hover td {
	z-index: 1;
	background-color: rgb(25,30,37, 0.25);;
}

td > a{
	display: inline-block;
	color: #222222;
	cursor: pointer;
	margin: 0em 0.25em;
}

td:nth-child(1){
	font-size: 13px;
}

td:nth-child(3){
	min-width: 7em;
}

td:last-child{
	text-align: center;
}

th {
	background-color: white;
	text-align: left;
	font-weight: normal;
	color: #222222;
	padding: 0.5em 0.75em;
	border-bottom: 1px solid dimgray;
}

td:last-child, th:last-child{
	border-left: 1px solid dimgray;
	width: 7em;
}

.data-field{
	display: none;
}

td > input{
	display: inline-block;
	background-color: transparent;
	border: none;
	text-overflow: ellipsis;
	font-family: monospace;
	font-size: 11px;
	width: 100%;
}

@media screen and (max-width: 800px) {

  table {
    width: 100%; 
  }

  th:nth-child(2), td:nth-child(2){
	  display: none;
  }

  th:nth-child(3), td:nth-child(3){
	  display: none;
  }

}